/*--====== CSS Reset ======--*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden !important;
}

input,
button,
textarea {
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--a-neutral);
}

/*--====== CSS Reset end ======--*/