//vars
$input-border: --input-border;
$bg-color: --bg-color;
$font-title-neutral: --font-title-neutral;
$font-title-accent: --font-title-accent;
$font-text-grey: --font-text-grey;
$font-logo-neutral: --font-logo-neutral;
$a-neutral: --a-neutral;
$i-neutral: --i-neutral;
$font-btn-white: --font-btn-white;
$font-btn-black: --font-btn-black;
$btn-1-neutral: --btn-1-neutral;
$btn-outline: --btn-outline;
$btn-2-accent: --btn-2-accent;
$stroke-carousel: --stroke-carousel;


//dark vars
$input-border-dark: --input-border-dark;
$bg-color-dark: --bg-color;
$font-title-neutral-dark: --font-title-neutral-dark;
$font-title-accent-dark: --font-title-accent-dark;
$font-text-grey-dark: --font-text-grey-dark;
$font-logo-neutral-dark: --font-logo-neutral-dark;
$a-neutral-dark: --a-neutral-dark;
$i-neutral-dark: --i-neutral-dark;
$font-btn-white-dark: --font-btn-white-dark;
$font-btn-black-dark: --font-btn-black-dark;
$btn-1-neutral-dark: --btn-1-neutral-dark;
$btn-outline-dark: --btn-outline-dark;
$btn-2-accent-dark: --btn-2-accent-dark;
$stroke-carousel-dark: --stroke-carousel-dark;

//spacing vars

$margin-values: (1, 2, 3, 4);
$padding-values: (1, 2, 3 ,4);
